@media (max-width:992px){
nav.navbar.navbar-inverse{
    background-color: #35434e !important;
    }
    nav.navbar.navbar-inverse .navbar-header a.navbar-brand img{
        width: 130px;
    }
    footer{
    .upper-footer{
    text-align: right;
        }}
}
